.container{
    width: 750px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.container img{
    width: 400px;
    height: 450px;
}

.info{
    margin-top: 70px;
}

.quantity_status{
    display: inline;
    border-radius: 30px;
    background-color: red;
    padding: 5px 10px;
    color: white;
}